<html>
    <head>
        <title>update items</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width">
        <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    </head>
    <body style="background-color: cyan;">
        <center>
        <h4 class="c1">Delete Student</h4>
        <form method="post" action="/delete">
            <label>Delete student</label>
            <input type="text" placeholder="enter student id" name="stu_id"><br>
            <button id="delete" style="background-color: darkorange;">Delete</button><br>
        </form>
        <a href='/' class="c2">Home page</a>
        </center>
    </body>
    </html>